# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*/ipch/*
*.ipch
ipch/
.vs/
.vscode/
# Fortran module files
*.mod
*.smod
build/
out/
temp_bin/
x64/
Debug/
# Compiled Static libraries
*.lai
*.la
*.a
# Executables
*.exe
*.out
*.app
x64/
test_jsons/
*/.obsidian/
*/smart-chats/
*/.smart-env
