Package: jsoncpp
Version: 1.9.5
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: ffcc6db50fc227f056293b09c3767e8cc82254f21052d77756f81061bddf7bbf
Description: jsoncpp is an implementation of a JSON reader and writer in C++. JSON (JavaScript Object Notation) is a lightweight data-interchange format that it is easy to parse and redeable for human.
